canvas {
  display: block;
  text-align: center;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /*background-color: #ce3635;*/
  text-align: center;
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 14px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3.625rem;
}

h4 {
  font-size: 1.2rem;
}

footer {
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

p {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

p.feedback-description {
  text-align: center;
  font-size: large;
}

table {
  margin: auto;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

.yoga-title {
  display: block;
  width: 30%;
  margin: auto;
}

.button {
  display: inline-block;
  font-size: 2rem;
  line-height: 65px;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button-container {
  /* text-align: center; */
  align-self: flex-start;
}

.row-poses {
  display: flex;
  padding-top: 5%;
}

.column-poses {
  flex: 25%;
  padding: 10px;
  background-size: cover;
}

.pose-description {
  text-align: center;
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-gap: 10px;
  padding-left: 1%;
  padding-right: 1%;
}

.sketch-holder {
  margin: auto;
}

.trainer-model {
  padding-top: 20%;
  margin: auto;
}

.feedback {
  /* margin: auto; */
}

.homepage-btn {
  margin: auto;
}

.yoga-header {
  margin: auto;
}

.start-yoga {
  padding: 0;
  border: none;
  background: none;
}

.accuracy {
  margin: auto;
  text-align: center;
  font-size: 5rem;
}